/* css for /r/music */

/*icon*/
#room-bar .icon-room{
    background-image: url('https://dl.dropboxusercontent.com/s/x5p3w3ojlqx5edo/music.png');
}

.icon {
    background-image: url('https://dl.dropboxusercontent.com/s/3v4ojsn3337a36p/icon.png');
}

/*vote colors*/
#woot .bottom, #woot.selected {
    background: #ff8a5f;
}

#meh .bottom, #meh.selected {
    background: #9494ff;
}

.media-list.history .score .positive {
    color: #ff8a5f;
}
.media-list.history .score .negative {
    color: #9494ff;
}
